@charset "ISO-8859-1";

#cabecalho , #corpo {
	font-family: sans-serif;
	font-size: 15px;
}

.footer {
	background-color: #AFAFAF;
	font-family: sans-serif;
	font-size: 12px;
	position: absolute;
    bottom: 0;
    width: 99%;
}

.button {
	background-color: #4CAF50;
	font-family: sans-serif;
	color: white;
	border: none;
	text-decoration: none;
  	display: inline-block;
  	font-size: 15px;
}